//- _login.pug
div#login
    form#login_form(hx-post="/login", hx-target="#content")
        div#login_input_div
            label#login_username_label(for="username") Pseudo:
            input(name="username", placeholder="Gagagougou")
        div#separator
        div#login_submit_div
            button#login_submit Je veux jouer