<!DOCTYPE html>

<head>

</head>

<body>
    <input id="player_name_input" type="text">
    <button onclick="clickedOnSubmit()">Send</button>
    <script>
        const wss = new WebSocket('ws://localhost:8080')

        wss.onopen = (event) => {
            alert("Connected to websocket server")
        }

        wss.onmessage = async (event) => {
            console.log(decodeMessage(event.data))
        }

        function clickedOnSubmit() {
            const playerName = document.getElementById("player_name_input").value
            const player = {
                name: playerName || "anon"
            }
            sendMessage(JSON.stringify(player))
        }

        async function decodeMessage(binary) {
            const blob = await event.data.arrayBuffer()
            const decoder = new TextDecoder("utf-8")
            console.log(decoder.decode(blob))
        }

        function sendMessage(message) {
            const encoder = new TextEncoder()
            wss.send(encoder.encode(message))
        }
    </script>
</body>

</html>