//- _login.pug
div#login
    form#login_form(hx-post="/login", method="post")
        div#login_input_div
            label#login_username_label(for="username") Pseudo:
            input(name="username", placeholder="Gagagougou", oninput="inputEvent(event)", required)
        div#separator
        div#login_submit_div
            button#login_submit(disabled) Je veux jouer

    script
        include scripts/login.js